<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
   <h1>Click the button to fetch the blood banks</h1>

   <button id="fetchBtn">Get Nearest bloodbanks around 5km</button>
    <ul id="results">
 <ul/>

<script>
    const blood_banks = [
  {
    Name: "Nepal Blood Tokha Road 5",
    Latitude: 27.7465265,
    Longitude: 85.1797912,
    Address: "Kathmandu",
  },
  {
    Name: "bloodbank02",
    Latitude: 27.7465265,
    Longitude: 85.1797912,
    Address: "Kathmandu",
  },
  {
    Name: "Tribhuwan University Teaching Hospital Blood Center",
    Latitude: 27.7465265,
    Longitude: 85.1797912,
    Address: "Kathmandu",
  },
  {
    Name: "MyBloodBank",
    Latitude: 27.7465265,
    Longitude: 85.1797912,
    Address: "Kathmandu",
  },
  {
    Name: "Himal Blood Transfusion Centre",
    Latitude: 27.7465265,
    Longitude: 85.1797912,
    Address: "Kathmandu",
  },
  {
    Name: "Central Blood Bank Ravibhawan",
    Latitude: 27.7465265,
    Longitude: 85.1797912,
    Address: "Kathmandu",
  },
  {
    Name: "Nobel Blood Transfusion Centre",
    Latitude: 27.6983481,
    Longitude: 85.2041459,
    Address: "Kathmandu",
  },
  {
    Name: "Kantipur Hospital Blood Transfusion Service",
    Latitude: 27.6983481,
    Longitude: 85.2041459,
    Address: "Kathmandu",
  },
  {
    Name: "Lalitpur Blood Bank",
    Latitude: 27.6983481,
    Longitude: 85.2041459,
    Address: "Lalitpur",
  },
  {
    Name: "Sagar Sunar",
    Latitude: 27.6983481,
    Longitude: 85.2041459,
    Address: "Lalitpur",
  },
  {
    Name: "Nepal Red Cross Society Bhaktapur District Chapter",
    Latitude: 27.6877083,
    Longitude: 85.3102326,
    Address: "Bhaktapur",
  },
  {
    Name: "TU Lions Blood Transfusion & Research Center",
    Latitude: 27.6874043,
    Longitude: 85.2154756,
    Address: "Kathmandu",
  },
  {
    Name: "High Vision Blood Donars association",
    Latitude: 27.6874043,
    Longitude: 85.2154756,
    Address: "Kathmandu",
  },
  {
    Name: "Hamro LifeBank",
    Latitude: 27.6874043,
    Longitude: 85.2154756,
    Address: "Lalitpur",
  },
  {
    Name: "Nepal Red Cross,Ramgram",
    Latitude: 27.5311072,
    Longitude: 83.0895138,
    Address: "Chitwan",
  },
  {
    Name: "Blood Donor's Society Nepal,Bharatpur",
    Latitude: 27.5286716,
    Longitude: 83.9464474,
    Address: "Chitwan",
  },
  {
    Name: "Nepal Redcross society Blood Bank",
    Latitude: 27.6815911,
    Longitude: 84.4336471,
    Address: "Chitwan",
  },
  {
    Name: "Pokhara Academy of Health Sciences",
    Latitude: 28.2116622,
    Longitude: 83.9957762,
    Address: "Pokhara",
  },
  {
    Name: "Western Regional Hospital [ Gandaki Hospital ]",
    Latitude: 28.2116622,
    Longitude: 83.9957762,
    Address: "Pokhara",
  },
  {
    Name: "Pokhara Ortho Neuro Care Hospital पोखरा अर्थो न्यूरो केयर हस्पिटल प्रा•लि•",
    Latitude: 28.2116622,
    Longitude: 83.9957762,
    Address: "Pokhara",
  },
  {
    Name: "Regional Tuberculosis Centre (Hospital)",
    Latitude: 28.2116622,
    Longitude: 83.9957762,
    Address: "Kathmandu",
  },
  {
    Name: "Nepal Red Cross Society Central Blood Transfusion Service Center",
    Latitude: 27.6989181,
    Longitude: 85.219295,
    Address: "Dhangadhi",
  },
  {
    Name: "Nepal Red Cross Society Lalitpur Blood Bank",
    Latitude: 27.6989181,
    Longitude: 85.219295,
    Address: "Lalitpur",
  },
  {
    Name: "Nepal Red Cross Society- Dhangadhi",
    Latitude: 28.7086164,
    Longitude: 80.5799049,
    Address: "Dhangadhi",
  },
  {
    Name: "Dhangadi Sanjeevani Hospital Pvt Ltd",
    Latitude: 28.7074872,
    Longitude: 80.5789393,
    Address: "Dhangadhi",
  },
  {
    Name: "Seti Zonal Hospital Dhangadhi",
    Latitude: 28.7109994,
    Longitude: 80.5753472,
    Address: "Dhangadhi",
  },
  {
    Name: "Nepal Red Cross Society Blood Transfusion Service- Birtamod",
    Latitude: 26.6382242,
    Longitude: 87.7394885,
    Address: "Jhapa",
  },
  {
    Name: "Red Cross Dhulabari",
    Latitude: 26.6382242,
    Longitude: 87.7394885,
    Address: "Jhapa",
  },
  {
    Name: "Nepal Red Cross Society, Jhapa District Chapter, Bhadrapur",
    Latitude: 26.6382242,
    Longitude: 87.7394885,
    Address: "Jhapa",
  },
  {
    Name: "Nepal Red Cross Society Central Blood Transfusion Service Center",
    Latitude: 27.6990321,
    Longitude: 82.9841995,
    Address: "Butwal",
  },
  {
    Name: "NRCS Regional Warehouse, Nepalgunj",
    Latitude: 28.0808429,
    Longitude: 81.6327716,
    Address: "Nepalgunj",
  },
  {
    Name: "Blood Bank, Bheri Hospital",
    Latitude: 28.0524427,
    Longitude: 81.6059933,
    Address: "Nepalgunj",
  },
  {
    Name: "Nepal Red cross Society, Bardibas",
    Latitude: 27.0044895,
    Longitude: 85.9024295,
    Address: "Mahottari",
  },
  {
    Name: "Nepal Red Cross Society Sub Branch Lahan",
    Latitude: 26.7084303,
    Longitude: 86.4912368,
    Address: "Siraha",
  },
  {
    Name: "Mid-Western Regional Health Directorate",
    Latitude: 28.6068286,
    Longitude: 76.7223358,
    Address: "Janakpur",
  },
  {
    Name: "Red Cross Blood Bank",
    Latitude: 28.6068286,
    Longitude: 76.7223358,
    Address: "Janakpur",
  },
  {
    Name: "Blood Bank",
    Latitude: 27.6993361,
    Longitude: 78.6857181,
    Address: "Chitwan",
  },
  {
    Name: "Blood Bank Butwal ",
    Latitude: 27.6994292,
    Longitude: 83.4624012,
    Address: "Butwal",
  },
  {
    Name: "Blood For Humanity Rangeli ",
    Latitude: 26.9660209,
    Longitude: 86.4818174,
    Address: "Dharan",
  },
  {
    Name: "Redcross Budhabare  ",
    Latitude: 26.6325441,
    Longitude: 86.6217378,
    Address: "Jhapa",
  },
  {
    Name: "Redcross Accham  ",
    Latitude: 26.6325441,
    Longitude: 86.6217378,
    Address: "Accham",
  },
  {
    Name: "Argakhanchi Bloodbank  ",
    Latitude: 26.6325441,
    Longitude: 86.6217378,
    Address: "Argakhanchi",
  },
  {
    Name: "Redcross Pyuthan  ",
    Latitude: 26.6325441,
    Longitude: 86.6217378,
    Address: "Pyuthan",
  },
  {
    Name: "Redcross Parbat  ",
    Latitude: 26.6325441,
    Longitude: 86.6217378,
    Address: "Parbat",
  },
  {
    Name: "Redcross Jumla  ",
    Latitude: 26.6325441,
    Longitude: 86.6217378,
    Address: "Jumla",
  },
  {
    Name: "Humla BloodBank  ",
    Latitude: 26.6325441,
    Longitude: 86.6217378,
    Address: "Humla",
  },
  {
    Name: "Redcross Jajarkot  ",
    Latitude: 26.6325441,
    Longitude: 86.6217378,
    Address: "Jajarkot",
  },
  {
    Name: "Baglung Blood Donors Club  ",
    Latitude: 26.6325441,
    Longitude: 86.6217378,
    Address: "Baglung",
  },
  {
    Name: "Redcross Morang ",
    Latitude: 26.6325441,
    Longitude: 86.6217378,
    Address: "Morang",
  },
  {
    Name: "Redcross Bhairahawa  ",
    Latitude: 26.6325441,
    Longitude: 86.6217378,
    Address: "Bhairahawa",
  },
  {
    Name: "Kapilbastu Blood Bank  ",
    Latitude: 26.6325441,
    Longitude: 86.6217378,
    Address: "Kapilbastu",
  },
  {
    Name: "Dang Blood Donors Committee  ",
    Latitude: 26.6325441,
    Longitude: 86.6217378,
    Address: "Dang",
  },
  {
    Name: "Rukum Janajati Yuba Sangh  ",
    Latitude: 26.6325441,
    Longitude: 86.6217378,
    Address: "Rukum",
  },
  {
    Name: "Redcross Daheldhura  ",
    Latitude: 26.6325441,
    Longitude: 86.6217378,
    Address: "Dadeldhura",
  },
  {
    Name: "Sankhuwasaba Blood Bank  ",
    Latitude: 26.6325441,
    Longitude: 86.6217378,
    Address: "Sankhuwasaba",
  },
  {
    Name: "Redcross Udayapur  ",
    Latitude: 26.6325441,
    Longitude: 86.6217378,
    Address: "Udayapur",
  },
  {
    Name: "Nawalparasi Janajagriti Yuwa Club ",
    Latitude: 26.6325441,
    Longitude: 86.6217378,
    Address: "Nawalparasi",
  },
];

const fetchBtn = document.querySelector("#fetchBtn");
const listResult = document.querySelector("#results");

function toRadians(degrees) {
  return (degrees * Math.PI) / 180;
}
const distanceInKm = (lat1, lng1, lat2, lng2) => {
  const R = 6371; // Earth's radius in kilometers
  const phi1 = toRadians(lat1);
  const phi2 = toRadians(lat2);
  const deltaPhi = toRadians(lat2 - lat1);
  const deltaLambda = toRadians(lng2 - lng1);

  const a =
    Math.sin(deltaPhi / 2) * Math.sin(deltaPhi / 2) +
    Math.cos(phi1) *
      Math.cos(phi2) *
      Math.sin(deltaLambda / 2) *
      Math.sin(deltaLambda / 2);
  const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
  const d = R * c;

  return d;
};
const RADIUS = 2; // in km

const fetchLocation = () => {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showResults);
  } else {
    alert("Geolocation is not supported by this browser.");
  }
};

const showResults = (position) => {
  const userLat = position.coords.latitude;
  const userLng = position.coords.longitude;
  listResult.innerHTML = "";
  blood_banks.forEach((item) => {
    const distance = distanceInKm(
      userLat,
      userLng,
      item.Latitude,
      item.Longitude
    );
    if (distance <= 5) {
      const li = document.createElement("li");
      li.innerText = `${item.Name} ${distance.toFixed(2)}km`;

      listResult.append(li);
    }
  });
};

fetchBtn.onclick = () => {
  fetchLocation();
};




</script> 
</body>
</html>
